[flake8]
max-line-length = 127
max-complexity = 12
exclude = venv,.git,__pycache__,.pytest_cache,htmlcov,build,dist,*.egg-info
ignore = W293,W291,F401,F841,F541,C901,E402,E501
select = E9,F63,F7,F82,E722
show-source = True
count = True
statistics = True
